parameters:
  level: 5

  paths:
    - web/modules/custom
    - web/themes/custom

  excludePaths:
    - web/modules/custom/*/tests
    - web/modules/custom/*/tests/**

  ignoreErrors:
    # Injected dependencies reserved for future use or structural symmetry.
    - '#Property Drupal\\vs_core\\Service\\ResultService::\$entityTypeManager is never read, only written\.#'
    - '#Property Drupal\\vs_core\\EventSubscriber\\VotingRequestSubscriber::\$logger is never read, only written\.#'
    # Drupal convention: create() returns new static() for subclassing support.
    - '#Unsafe usage of new static\(\)\.#'
