<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="web/core/tests/bootstrap.php"
  colors="true">

  <testsuites>
    <testsuite name="Unit">
      <directory>web/modules/custom/vs_core/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="Kernel">
      <directory>web/modules/custom/vs_core/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="Contract">
      <directory>web/modules/custom/vs_core/tests/src/Functional/Api/Contract</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>web/modules/custom/vs_core/tests/src/Functional/Api/Integration</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="SIMPLETEST_BASE_URL" value="http://voting-system.lndo.site"/>
    <env name="SIMPLETEST_DB" value="mysql://drupal11:drupal11@database/drupal11"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/tmp"/>
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", {"browserName":"chrome","goog:chromeOptions":{"args":["--disable-gpu","--headless","--no-sandbox"]}},"http://localhost:9515"]'/>
  </php>

</phpunit>
