<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="web/core/tests/bootstrap.php"
  colors="true">

  <testsuites>
    <testsuite name="Unit">
      <directory>web/modules/custom/vs_core/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="Kernel">
      <directory>web/modules/custom/vs_core/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="Contract">
      <directory>web/modules/custom/vs_core/tests/src/Functional/Api/Contract</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>web/modules/custom/vs_core/tests/src/Functional/Api/Integration</directory>
    </testsuite>
    <testsuite name="Admin">
      <directory>web/modules/custom/vs_core/tests/src/Functional/Admin</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">web/modules/custom/vs_core/src</directory>
    </include>
  </source>

  <php>
    <env name="SIMPLETEST_BASE_URL" value="http://voting-system.lndo.site"/>
    <env name="SIMPLETEST_DB" value="sqlite://localhost//tmp/drupal_simpletest.sqlite"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/tmp"/>
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", {"browserName":"chrome","goog:chromeOptions":{"args":["--disable-gpu","--headless","--no-sandbox"]}},"http://localhost:9515"]'/>
  </php>

</phpunit>
